#alegria {
    background-color:yellow
}
#tristeza {
    background-color: blue;
}
#enojo {
    background-color: red;
}
#miedo {
    background-color: #2F4F4F;
}
#asco {
    background-color: green;
}
#amor {
    background-color: #FF6B81;
}
#ansiedad {
    background-color: #708090;
}
#vergüenza {
    background-color: #FF69B4;
}
#nostalgia {
    background-color: #C2B280;
}